.reviews {
  padding: 1.5em 0;

    .review{
      text-align: center;

  }

}

.reviews-list {
  .row{
    margin-bottom: 2em;

    .review {
      padding: 1em;
      @media all and (min-width: 550px){
        padding: 2em;
        background: lighten($bodyBackground, 2%);
      }
    }

  }
}
